<div class="fields-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Font</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-select-field class="form-field" selectModel="font-family" selectList="fontFamily"></app-select-field>
      <mat-form-field appearance="outline" class="font-size" [style.width]="'10ch'">
        <input
          matTooltip="Font size"
          matInput
          type="number"
          [(ngModel)]="processedStyles[handleData.selectedComponent]['font-size']"
        />
        <span matSuffix>px</span>
      </mat-form-field>

      <app-color-field colorModel="color"></app-color-field>

      <app-select-field
        class="form-field"
        selectModel="vertical-align"
        selectList="verticalAlignment"
      ></app-select-field>

      <app-color-field
        *ngIf="
          handleData.selectedComponent === 'title' ||
          handleData.selectedComponent === 'thead' ||
          handleData.selectedComponent === 'aggregation' ||
          handleData.selectedComponent === 'groupAggregation'
        "
        colorModel="background-color"
      ></app-color-field>
      <br />
      <table style="width:100%">
        <tr>
          <td>
            <app-toggle-button *ngFor="let toggleButton of fontStyleButtons" [bProps]="toggleButton">
            </app-toggle-button>
          </td>
          <td
            *ngIf="
              handleData.selectedComponent === 'title' ||
              handleData.selectedComponent === 'thead' ||
              handleData.selectedComponent === 'aggregation' ||
              handleData.selectedComponent === 'groupAggregation'
            "
          >
            <app-toggle-button *ngFor="let textAlignButton of textAlignButtons" [bProps]="textAlignButton">
            </app-toggle-button>
          </td>
        </tr>
      </table>

      <div
        *ngIf="handleData.selectedComponent === 'aggregation' || handleData.selectedComponent === 'groupAggregation'"
      >
        <br />
        <br />

        <!-- <app-select-field selectModel="apply-styles-for" selectList="applyStylesFor"></app-select-field> -->

        <mat-form-field appearance="outline" floatLabel="always" *ngIf="handleData.selectedComponent === 'aggregation'">
          <mat-label>Apply Styles For</mat-label>
          <mat-select [(ngModel)]="processedStyles['additional']['aggregation']">
            <mat-option *ngFor="let option of defaultService.applyStylesFor" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          *ngIf="handleData.selectedComponent === 'groupAggregation'"
        >
          <mat-label>Apply Styles For</mat-label>
          <mat-select [(ngModel)]="processedStyles['additional']['subAggregation']">
            <mat-option *ngFor="let option of defaultService.applyStylesFor" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br />
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="handleData.selectedComponent === 'table'">
    <mat-card-header>
      <mat-card-title>Table Style</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-select-field class="form-field" selectModel="border-type" selectList="borderType"></app-select-field>
    </mat-card-content>
  </mat-card>
  <mat-card
    *ngIf="
      handleData.selectedComponent === 'table' ||
      handleData.selectedComponent === 'thead' ||
      handleData.selectedComponent === 'tbody' ||
      handleData.selectedComponent === 'aggregation' ||
      handleData.selectedComponent === 'groupAggregation' ||
      handleData.selectedComponent === 'form'
    "
  >
    <mat-card-header>
      <mat-card-title>Border</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr
          *ngFor="
            let dimensions of [['border-top-width', 'border-bottom-width'], ['border-left-width', 'border-right-width']]
          "
        >
          <td *ngFor="let dimension of dimensions">
            <app-number-field [numberModel]="dimension" suffix="mm"></app-number-field>
          </td>
        </tr>
      </table>

      <table style="width:100%">
        <tr>
          <td>
            <app-select-field class="form-field" selectModel="border-style" selectList="borderStyle"></app-select-field>
          </td>
          <td>
            <div class="display-inline-block">
              <mat-label>Change Border Color </mat-label>
              <label
                class="color-field"
                [ngStyle]="{ 'background-color': processedStyles[handleData.selectedComponent]['border-color'] }"
              >
                <input
                  type="color"
                  name="change-borders-color"
                  [(ngModel)]="processedStyles[handleData.selectedComponent]['border-color']"
                />
              </label>
            </div>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="handleData.selectedComponent === 'formLabel'">
    <mat-card-header>
      <mat-card-title>Label align</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-select-field class="form-field" selectModel="label-align" selectList="labelAlign"></app-select-field>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="handleData.selectedComponent === 'list'">
    <mat-card-header>
      <mat-card-title>List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-select-field class="form-field" selectModel="type" selectList="listType"></app-select-field>
      <app-select-field class="form-field" selectModel="list-format" selectList="listFormat"></app-select-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Padding</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table style="width:100%">
        <tr *ngFor="let dimensions of [['padding-top', 'padding-bottom'], ['padding-left', 'padding-right']]">
          <td *ngFor="let dimension of dimensions">
            <app-number-field [numberModel]="dimension" suffix="mm"></app-number-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
