// .row {
//   display: flow-root;
//   * {
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//   }

//   /* Create two equal columns that floats next to each other */
//   .column {
//     float: left;
//     padding: 0 1%;

//     input {
//       height: 1rem;
//     }

//     mat-button-toggle-group {
//       margin-bottom: 0.5em;
//     }
//   }
// }
// /* Clear floats after the columns */
// .row:after {
//   content: '';
//   display: table;
//   clear: both;
// }
.fields-container {
  fieldset {
    padding: 1em 0;
  }

  mat-form-field,
  app-color-field,
  .form-field {
    margin-right: 3em;
  }

  mat-card {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
      0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 1em;
  }
}
