.spinner {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 45%;
}

.list-item {
  cursor: pointer;
  button {
    width: 100%;
    text-align: left;
    padding: 0;
  }
}

.fields-container {
  padding: 1em;
  .tbody-actions {
    text-align: center;
    .colors-toggle {
      margin-bottom: 0.5em;
    }
  }
}

.style-form,
.preview-block {
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
.preview-block {
  border-left: 1px solid #cccccc;
}

.full-width {
  width: 100%;
}

input {
  height: 1rem;
}

.sidenav-container {
  height: 100%;
  mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
  .body {
    flex: 1;
  }
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.action-button {
  margin-left: 1em;
}
.icon {
  margin-left: 1em;
  cursor: pointer;
  transition: all 0.4s linear;
  &.night-mode {
    color: yellow;
  }
}

.spacer {
  flex: 1 1 auto;
}
