<mat-spinner class="spinner" *ngIf="!handleData.processedTheme"></mat-spinner>

<mat-sidenav-container class="sidenav-container" *ngIf="handleData.processedTheme">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <span>Menu</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item
        *ngFor="let styleComponent of styleComponents"
        class="list-item"
        (click)="handleData.setSelectedComponent(styleComponent)"
      >
        <button mat-button [color]="styleComponent === handleData.selectedComponent ? 'primary' : ''">
          <span [class.selected-dot]="styleComponent === handleData.selectedComponent"></span>
          {{ styleComponent | descriptioncase: 'camelcase' }}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Theme designer</span>
        <span class="spacer"></span>
        <mat-icon class="icon" aria-hidden="false" aria-label="Night mode" (click)="toggleTheme($event)">
          nights_stay
        </mat-icon>

        <button mat-raised-button color="accent" (click)="handleData.sendTheme()" class="action-button">Save</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf="!handleData.selectedComponent">
      Style your component
    </div>
    <div class="body" *ngIf="handleData.selectedComponent">
      <div class="style-form">
        <h2 class="vizi-title">
          {{ handleData.selectedComponent + ' Properties' | descriptioncase: 'camelcase' }}
        </h2>
        <div class="fields-container">
          <app-style-field></app-style-field>

          <div class="text-actions" *ngIf="handleData.selectedComponent === 'text'">
            <button mat-raised-button color="primary" (click)="textGlobalApply()">
              Apply Globally <mat-icon>send</mat-icon>
            </button>
          </div>

          <div class="tbody-actions" *ngIf="handleData.selectedComponent === 'tbody'">
            <mat-slide-toggle class="colors-toggle" color="primary" [(ngModel)]="handleData.alternateRow.colors">
              Alternate row colors
            </mat-slide-toggle>
            <div *ngIf="handleData.alternateRow.colors">
              <div
                class="display-inline-block"
                *ngFor="
                  let row of [{ label: 'Even Row', model: 'tableEvenRow' }, { label: 'Odd Row', model: 'tableOddRow' }]
                "
              >
                <mat-label> {{ row.label }} </mat-label>
                <label class="color-field" [ngStyle]="{ 'background-color': handleData.alternateRow[row.model] }">
                  <input type="color" name="{{ row.model }}" [(ngModel)]="handleData.alternateRow[row.model]" />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-preview-block class="preview-block" *ngIf="loadPreviewBlock"></app-preview-block>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
