<div class="list-container" *ngIf="hD.themeName === ''">
  <div class="mat-elevation-z8">
    <mat-toolbar>
      Theme list
    </mat-toolbar>
    <mat-spinner class="spinner" *ngIf="!themes"> </mat-spinner>

    <mat-list *ngIf="themes">
      <mat-list-item
        class="list-item"
        *ngFor="let theme of themes"
        [routerLink]="['']"
        [queryParams]="{ name: theme.Name }"
      >
        <mat-icon mat-list-icon>color_lens </mat-icon>
        <h4 matLine>{{ theme.Name }}</h4>
        <p matLine>{{ theme.Description }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<app-theme-detail *ngIf="hD.themeName !== ''"></app-theme-detail>
