.list-container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div.mat-elevation-z8 {
    display: initial;
    width: 80vw;
    height: 85%;
    overflow: auto;
  }
  .list-item {
    cursor: pointer;
  }
  .mat-elevation-z8 {
    position: relative;

    .spinner {
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }
}
