<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>{{ numberModel | descriptioncase: 'kebabcase' }}</mat-label>
  <input
    matInput
    type="number"
    [(ngModel)]="handleData.processedTheme.styles[handleData.selectedComponent][numberModel]"
  />
  <span matSuffix>{{ suffix }}</span>
</mat-form-field>
