<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>{{ selectModel | descriptioncase: 'kebabcase' }}</mat-label>
  <mat-select
    [(ngModel)]="handleData.processedTheme.styles[handleData.selectedComponent][selectModel]"
    (selectionChange)="onValueChange()"
  >
    <mat-option *ngFor="let option of defaultService[selectList]" [value]="option.value">
      {{ option.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
