@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-yellow, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
$dark-theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  mat-form-field {
    max-width: 100%;
  }

  .selected-dot {
    height: 5px;
    width: 5px;
    background-color: mat-color($primary);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
  }

  .display-inline-block {
    display: inline-block;
  }

  .color-field {
    display: inline-block;
    vertical-align: bottom;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 1px solid #000000;

    & > input {
      visibility: hidden;
    }
  }

  .vizi-title {
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 1em;
  }
}
