:host {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  padding: 1em;
  padding-top: 0;
  // .title {
  //   text-align: center;
  //   font-size: 1.1em;
  // }
  .preview-block-item {
    &.text {
      display: table-cell;
      height: 100px;
    }

    table {
      border-collapse: collapse;
      margin-top: 1em;
    }
  }
}
