<ng-container
  *ngIf="
    handleData.selectedComponent !== 'table' &&
    handleData.selectedComponent !== 'thead' &&
    handleData.selectedComponent !== 'tbody' &&
    handleData.selectedComponent !== 'aggregation' &&
    handleData.selectedComponent !== 'groupAggregation'
  "
>
  <h2 class="vizi-title">
    Title
  </h2>

  <div class="preview-block-item" [ngStyle]="getCompleteStyles('title')">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, quisquam!
  </div>

  <h2 class="vizi-title">Text</h2>
  <div class="preview-block-item text" [ngStyle]="getCompleteStyles('text')" style="text-align: justify;">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque recusandae, natus, cum, omnis nesciunt
    perferendis id deserunt consectetur maiores dolorem velit minus temporibus expedita. Perferendis magnam quia
    possimus iste aut?
    <br />
  </div>

  <h2 class="vizi-title">Form</h2>
  <div class="preview-block-item">
    <form style="width: 100%" [ngStyle]="getCompleteStyles('form')">
      <div *ngFor="let item of [{ label: 'Name', value: 'John Doe' }, { label: 'Age', value: '20' }]">
        <span [ngStyle]="getCompleteStyles('formLabel')" *ngIf="processedStyles.formLabel['label-align'] === 'left'">
          {{ item.label }}
        </span>
        <span>
          <ng-container *ngIf="processedStyles.formLabel['label-align'] === 'top'">
            <span [ngStyle]="getCompleteStyles('formLabel')">{{ item.label }}</span>
            <br />
          </ng-container>
          {{ item.value }}
        </span>
        <span [ngStyle]="getCompleteStyles('formLabel')" *ngIf="processedStyles.formLabel['label-align'] === 'right'">
          {{ item.label }}
        </span>
      </div>
    </form>
  </div>
</ng-container>
<ng-container
  *ngIf="
    handleData.selectedComponent === 'table' ||
    handleData.selectedComponent === 'thead' ||
    handleData.selectedComponent === 'tbody' ||
    handleData.selectedComponent === 'aggregation' ||
    handleData.selectedComponent === 'groupAggregation'
  "
>
  <div class="preview-block-item">
    <table [ngStyle]="getCompleteStyles('table')" style="width:99%">
      <tr>
        <th [ngStyle]="getCompleteStyles('thead')" *ngFor="let header of tableCells">
          {{ header }}
        </th>
      </tr>
      <ng-container *ngFor="let country of countries">
        <tr
          [style.background-color]="
            handleData.alternateRow.colors ? handleData.alternateRow.tableEvenRow : 'transparent'
          "
        >
          <td [ngStyle]="getCompleteStyles('tbody')" rowspan="4">{{ country.name }}</td>
          <td [ngStyle]="getCompleteStyles('tbody')" *ngFor="let field of tableData[country.start]">{{ field }}</td>
        </tr>
        <tr
          *ngFor="let fields of tableData.slice(country.start + 1, country.start + 4); let i = index"
          [style.background-color]="
            handleData.alternateRow.colors
              ? i % 2
                ? handleData.alternateRow.tableEvenRow
                : handleData.alternateRow.tableOddRow
              : 'transparent'
          "
        >
          <td [ngStyle]="getCompleteStyles('tbody')" *ngFor="let field of fields">{{ field }}</td>
        </tr>
        <tr>
          <td
            [ngStyle]="
              handleData.processedTheme.styles.additional.subAggregation === 'row'
                ? getCompleteStyles('groupAggregation')
                : {}
            "
            colspan="4"
          >
            Subtotal
          </td>
          <td [ngStyle]="getCompleteStyles('groupAggregation')">
            {{ getSum(3, country.start, country.start + 4) }}
          </td>
        </tr>
      </ng-container>
      <tr>
        <td
          [ngStyle]="
            handleData.processedTheme.styles.additional.aggregation === 'row' ? getCompleteStyles('aggregation') : {}
          "
          colspan="4"
        >
          Total
        </td>
        <td [ngStyle]="getCompleteStyles('aggregation')">
          {{ getSum(3, 0, 31) }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>
